body {
  background: #faf9ff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav {
  background-color: #faf8ff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
 nav img {
  margin-left: 2rem;
}
nav ul {
  margin-right: 1rem;
}
nav ul li {
  border: 1px solid rgb(102, 70, 243);
  border-radius: 10px;
  color: rgb(102, 70, 243);
  display: inline;
  font-size: 1.5rem;
  margin-right: 1rem;
  padding: 1rem;
}
nav ul li:hover {
  background: rgb(102, 70, 243);
  color: white;
}
a { text-decoration: none; }
a:hover { color: white; }
h1 {
  font-size: 3rem;
  margin-top: 6rem;
  text-align: center;
}
form { text-align: center; }
#email {
  border: 1px solid rgb(102, 70, 243);
  border-radius: 10px;
  color: rgb(102, 70, 243);
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 20%;
}
#email::placeholder {
  color: rgb(102, 70, 243);
}
#submit {
  background: white;
  border: 1px solid rgb(102, 70, 243);
  border-radius: 10px;
  color: rgb(102, 70, 243);
  margin-bottom: 4rem;
  padding: 0.5rem;
  width: 5%;
}
.vid {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}
.sections {
  margin: 0 auto;
  margin-bottom: 5rem;
  text-align: center;
  width: 90%;
}
.sections h2 {
  color: rgb(102, 70, 243);
}
.showcase {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.shop-item {
  background: white;
  border: 1px solid rgb(102, 70, 243);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.shop-item img {
  margin-bottom: 3rem;
}
.shop-item button {
  background-color: white;
  border: 1px solid rgb(102, 70, 243);
  border-radius: 8px;
  color: rgb(102, 70, 243);
  margin: 0 auto;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  width: 30%;
}
.shop-item button:hover {
  background: rgb(102, 70, 243);
  color: white;
}
footer {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 1100px) {
  #submit { width: 12%; }
}
@media only screen and (max-width: 900px) {
  .showcase {
    flex-direction: column;
    margin: 0 auto;
    width: 50%;
  }
  .shop-item {
    margin-bottom: 1rem;
  }
  .shop-item img {
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 546px) {
  nav {
    justify-content: center;
  }
  nav ul {
    height: 0px;
    visibility: hidden;
    width: 0px;
  }
}
